.footer {
    padding: 93px 0;
    border-top: 1px solid #D8E3FE
   
    
}

.footer__copyright {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #AEB8D0;

    margin: 28px 0 0 217px;
}