.getstarted {
    padding: 91px 0;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);

&__container {
}


&__subtitle {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}
&__title {
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 28px;
}
&__descr {
    margin: 0 auto;
    min-height: 78px;
    width: 712px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

&__wrapper {
    margin-top: 28px;

   text-align: center;
   display: flex;
   justify-content: center;
}
&__button {
    
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

}
&__button_white {
    width: 130px;
    height: 43px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px #6480E8;
    border-radius: 2px 0 0 2px;
}
&__button_blue {
    font-weight: 500;
    width: 155px;
    height: 43px;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    border: 1px solid;
    border-color: #A0B4FF;
    border-radius: 0 2px 2px  0;
}
}